
<div class="login-container">
    <div class="button-wrap login-button-wrap">
        <%= link_to "Sign in", login_path, :class=> "login-link here" %>
        <%= link_to "Sign up", new_user_path, :class => "login-link" %>
    </div>

    <div class="form log-form">
        <% if flash[:error].present? %>
        <p><%= flash[:error] %></p>
        <% end %>

        <%= form_tag login_path do %>
        <%= label_tag :email %>
        <%= email_field_tag :email%>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <%= submit_tag 'Sign In' %>
        <% end %>
    </div>
