
<aside class="">

    <div class="user-profile">
        <h3>Profile</h3>
        <ul class="account-info">
            <li>Username: <%= @current_user.username %></li>
            <li>Account Name: <%= @current_user.full_name %></li>
            <li>Account No:<%= @current_user.account_no %></li>
            <li>Account Created:<br><%= @current_user.created_at.strftime("%A, %B %e, %Y") %></li>
            <li>Last Update:<br><%= @current_user.updated_at.strftime("%A, %B %e, %Y") %></li>
        </ul>
<% unless @current_user.admin %>
        <ul class="account-info">
            <li>Strategy: <%= @current_user.strategy %></li>
            <li>Account Balance: <%= number_to_currency @current_user.balance %></li>
            <% if investment_summary.present? %>
            <li>Total Investment:<%= number_to_currency investment_summary()[:total_investment] %>
            <li>Total Profit/Loss:<%= colorSpan(investment_summary()[:total_profit]) %></li>
            <% end %>
        </ul>

        <% unless current_page?('users/:id/edit') %>
        <div class="control">
            <div class="trade_form">
                <button id ='trade_link'>Trade</button>
                <div class="form mini-form" id="trade_form">
                    <%= simple_form_for Transaction.new, :url => '/transactions/:symbol', :method => 'get' do |f|%>
                    <%= f.input :portfolio_id, label: "Choose a portfolio", :collection => @current_user.portfolios.pluck(:name, :id), required: true%>
                    <%= f.input :symbol, placeholder: "Enter Stock Symbol", label: false, required: true %>
                    <%= f.submit "Next"%>
                    <% end %>
                </div>
            </div>
            <a href="/users/<%= @current_user.id %>/edit">Edit Profile</a>
            <%= link_to "Logout", login_path, :method => 'delete' %>
        </div>
        <% end %>
        <% end %>

    </div>
</aside>
