
<div class="login-container">
    <div class="button-wrap login-button-wrap">
        <%= link_to "Sign in", login_path, :class=> "login-link" %>
        <%= link_to "Sign up", new_user_path, :class => "login-link here" %>
    </div>

    <div class="form log-form">
        <% if @user.errors.any? %>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        <% end %>

        <%= simple_form_for @user do |f|%>
        <%= f.input :email, as: :email, :error => false%>
        <%= f.input :password, as: :password%>
        <%= f.input :password_confirmation, :error => false%>
        <%= f.submit "Sign Up" %>
        <% end %>
    </div>
</div>
