
<%= render :partial => '/users/nav' %>

<div class="user-content">
    <%= render :partial => '/users/aside' %>
    <main class="user-main">
        <div class="portfolio-summary">
            <h3>
                <div class="wrap">
                    <span>
                        Portfolio Summary
                    </span>
                    <%= link_to "New Portfolio", new_portfolio_path %>
                </div>
            </h3>
            <p><%= @msg %></p>
            <table>
                <% if @current_user.portfolios.present? %>
                <tr>
                    <td>ID</td>
                    <td>Portfolio Name</td>
                    <td>Purchase Price</td>
                    <td>Today's Change</td>
                    <td>Total Profit/Loss</td>
                    <td></td>
                </tr>
                <% @current_user.portfolios.sort.each  do |portfolio| %>
                <tr>
                    <td><%= portfolio.id %></td>
                    <td><%= portfolio.name %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="/portfolios/<%= portfolio.id%>/edit">Edit</a></td>
                    <% if check_empty_portfolio(portfolio.id) %>
                    <td><a href="/portfolios/<%= portfolio.id%>", data-confirm="Are you sure?" data-method="delete">Delete</a></td>
                    <% else %>
                    <% end %>
                </tr>
                <% end %>
                <% end %>
            </table>
        </div>

        <% if @current_user.portfolios.present? %>
        <div class="portfolio-detail">
            <h3>
                <div class="wrap">
                    <span>Portfolio details</span>
                    <% if @current_user.transactions.present? %>
                    <%= link_to "History", transactions_path, :method => 'get' %>
                    <% end %>
                </div>
            </h3>
            <% if @current_user.transactions.present? %>
            <table>
                <tr>
                    <td title="Portfolio id">Folio</td>
                    <td>Symbol</td>
                    <td>Company Name</td>
                    <td>No.</td>
                    <td>Avg Purchase</td>
                    <td>Latest Price</td>
                    <td>Change %</td>
                    <td>Today's Change</td>
                </tr>
                <% @current_user.portfolio_ids.each do |folio_id| %>
                <% if get_symbols(folio_id).present? %>
                <% get_symbols(folio_id).each do |symbol| %>
                <% info = StockQuote::Stock.quote symbol %>
                <tr>
                    <td><%= folio_id %></td>
                    <td><%= symbol %></td>
                    <td><%= info.company_name %></td>
                    <td><%= @current_user.transactions.where(portfolio_id: folio_id).where(symbol: symbol).last.on_hand %></td>
                    <td><%= number_to_currency @current_user.transactions.where(portfolio_id: folio_id).where(symbol: symbol).last.avg_cost %></td>
                    <td><%= number_to_currency info.latest_price %></td>
                    <td><%= number_to_percentage info.change_percent*100 %></td>
                    <td><%= number_to_currency (info.latest_price-info.previous_close)* @current_user.transactions.where(portfolio_id: folio_id).where(symbol: symbol).last.on_hand%></td>
                </tr>
                <% end %>
                <% end %>
                <% end %>
            </table>
            <% end %>


        </div>
        <% end %>

        <div class="watchlist">
            <h3>
                <div class="wrap">
                    <span>
                        Watchlist
                    </span>
                    <%= link_to "New Item", new_watchlist_path %>
                </div>
            </h3>
            <% if @current_user.watchlists.present? %>
            <table>
                <tr>
                    <td>Symbol</td>
                    <td>Company Name</td>
                    <td>Latest Price</td>
                    <td>Change %</td>
                    <td>Volume</td>
                    <td>Prev Close</td>
                    <td>Open</td>
                    <td></td>
                </tr>
            <% @current_user.watchlists.each do |item| %>
            <% info = StockQuote::Stock.quote item.symbol %>
                <tr>
                    <td><%= item.symbol %></td>
                    <td><%= info.company_name %></td>
                    <td><%= number_to_currency info.latest_price %></td>
                    <td><%= number_to_percentage info.change_percent*100 %></td>
                    <td><%= info.volume %></td>
                    <td><%= number_to_currency info.previous_close %></td>
                    <td><%= number_to_currency info.open %></td>
                    <td><a href="/watchlists/<%= item.id%>", data-confirm="Are you sure?" data-method="delete">Delete</a></td>
                </tr>
                <% end %>
            </table>
            <% end %>
        </div>
        <% if params[:controller] == "portfolios" %>
        <%= render :partial => 'users/portfolio_form' %>
        <% end %>

        <% if params[:controller] == "watchlists" %>
        <%= render :partial => 'users/watchlist_form' %>
        <% end %>
        <div class="message box">
            <%= @msg %>
        </div>
    </main>
</div>
