<%= render :partial => '/users/nav' %>

<div class="user-content">
  <%= render :partial => '/posts/aside' %>
  <main class="user-main">
    <div class="friends-main">
      <h3>
        <div class="wrap">
          <span>
            Following
          </span>
          <%= link_to "Back", posts_path %>
        </div>
      </h3>
      <div class="">
          <% for friendship in @user.friendships %>
            <div class="">
              <%= User.find(friendship.friend_id).username %>
              (<%= link_to "remove", friendship, :method => :delete, :data => {:confirm => 'Are you sure?'}%>)
              </div>
          <% end %>
      </div>

        <p><%= link_to "Find New Connect", friendships_path %></p>

    </main>
</div>
