
<%= render :partial => '/users/nav' %>

<div class="user-content">
    <%= render :partial => '/users/aside' %>
    <main class="user-main">
        <div class="transaction-history">
            <h3>
                <div class="wrap">
                    <span>
                        Transaction History
                    </span>
                    <%= link_to "Back", root_path %>
                </div>
            </h3>

            <%= form_tag transactions_path, :method => 'get', :id => "transactions_search", :class => 'search-form' do %>
            <div class="wrap">
                <%= text_field_tag :search_transaction, params[:search_transaction], placeholder: "Search by symbol or trade", :class => 'test' ,  :name=>'search_transaction' %>
<!-- :onchange => 'this.form.submit();', -->
            </div>
            <div class="wrap">
                <button><span><i class='fa fa-search'></i></span><span>Search</span></button>
            </div>
            <div class="wrap">
                <a href='/transactions/'><span><i class="glyphicon glyphicon-remove"></i></span><span>Reset Filter</span></a>
            </div>
            <% end %>
            <table>
                <tr>
                    <th><%= sortable "settlment_date", "Date" %></th>
                    <th><%= sortable "symbol", "Symbol" %></th>
                    <th><%= sortable "trade_type", "Trade" %></th>
                    <th><%= sortable "number", "Volume" %></th>
                    <th><%= sortable "price", "Purchase Price" %></th>
                    <th><%= sortable "on_hand", "On Hand" %></th>
                    <th><%= sortable "avg_cost", "Avg Cost" %></th>
                    <th><%= sortable "portfolio_id", "Folio ID" %></th>
                </tr>
                <% @all_transactions.each do |transaction|%>
                <tr>
                    <td><%= transaction.settlment_date %></td>

                    <td><%= transaction.symbol %></td>
                    <td><%= transaction.trade_type %></td>
                    <td><%= transaction.number %></td>
                    <td><%= number_to_currency transaction.price %></td>
                    <td><%= transaction.on_hand %></td>
                    <td><%= number_to_currency transaction.avg_cost %></td>
                    <td><%= transaction.portfolio_id %></td>

                </tr>
                <% end %>
            </table>
            <div id="transactions"><%= render 'transactions' %></div>
        </div>
    </main>
</div>
